html {
    -webkit-font-smoothing: antialiased;
    margin: auto 0;
    background: #DB5461;
}

body {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: 600;
    line-height: 1.3;
}

h1 {
    font-size: 50px;
    text-align : left;
    padding: 3em 2em 4em 1em;
}
h2 {
    margin-top: 1.3em;
    text-align : center;
}

.header {
  margin: 0 auto;
}

.title-home {
    text-align: center;
    color: white;
    font-size: 20pt;
    line-height: 1.3;
    font-family: helvetica;
    margin: 2em 0em 0em 0em;
    }

.nav {
    text-align: center;
    color: white;
    font-size: 20pt;
    line-height: 1.3;
    font-family: helvetica;
    margin: auto;
}

.ddicon {
    margin: 0em 30em;
    float: none;
    display: block;
}

.info {
    color: 483D3F;
    text-align: left;
    width: 50%;
    font-size: 20pt;
    line-height: 1.3;
    font-family: helvetica;
    padding: 0em 0em 0em 2em;    
}


a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    display: block;
    float: left;
    margin: 0em 3em 3em 3em;
}


.image {
    float: left;
    padding: 1em;
}

.image-2 {
    float: none;
    padding: 1em;
}

.image-3 {
    float: right;
    padding: 1em;
}


@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}
