html {
    -webkit-font-smoothing: antialiased;
}

.logo {
    display: block;
    text-align: center;
    padding: 20% 10% 0% 10%;
    position: static;
}

h1 {
    font-size: 20pt;
    color: lightpink;
    text-align: center;
    margin: 0;
    padding: 0% 0% 20% 0%;
}


/*nav*/

.rotate{
    -webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-o-transform:rotate(270deg);writing-mode:lr-tb}
html, body {
  min-height:100%;
  max-height:100%;
  height:100%;
  font-family:monospace;
  font-size: 18px;
  background:#fff
}
a {
  text-decoration:none;
    font-family: monospace;
}
li {
  list-style:none
}
ul {
  padding:-150px;
  margin: 0px 0px 0px -48pt;
}
.main-nav {
  width:45px;
  height:100%;
margin-left: 95%;
    position:fixed;
    font-family: tiempofont;
}

.second-nav {
    width: 100%;
  position:fixed;
  #text-align: right;
#margin: 24pt 48pt 0pt 570pt;
font-weight: 700;
#padding: 0pt 48pt 0pt 0pt;
    margin: 0pt 100pt 0pt 0pt;
    

}

.third-nav { 
 width:200px;
  height:100%;
  position:fixed;
  text-align: left;
    margin: 138pt 0pt 0pt 66pt;
    font-size: 10pt;
    color: black;
}

ul.nav-3 li a {
    text-decoration: none;
    color: lightpink;
    font-family: helvetica neue;
}

ul.nav-3 li a:hover { 
    color: black;
}

ul.nav li a:hover { 
    color: black;
}



ul.nav {
  width:21px;
}
ul.nav li:first-child {
  padding-top:100px
}
ul.nav li {
  padding-top: 75px;
}
ul.nav li a {
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -o-transform:rotate(270deg);
  writing-mode:lr-tb;
  float:right;
  width:21px;
  color:lightpink;
    font-size: 10pt;
}

ul.nav-2 li a {

  width:21px;
  color:lightpink;
    font-size: 12pt;
    float: right;
    text-align: right;
    padding: 40px;
    font-family: helvetica neue;
    padding: 48pt 48pt 0pt 0pt;
    padding-left: 30pt;
    
}


.text { 
    width: 200px;
    font-family: tiempofont;
    font-size: 10pt;
    text-align: left;
    margin: 0pt 0pt 0pt 120pt;
    float: left;
}


.project-image {
    margin: 0.5em;
}

.container {
    width: 100%;
    margin: 1%;
    display: block;
    align-content: center;
}






.textcontainer {
    align-content: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container1 {
    width: 27%;
    margin: 0em 1.5em;
}




.a-aboutme {
    color: lightpink;
    padding: 0em;
    margin: 0em;
    font-size: 10pt;
    text-align: left;

}


.textcontainer {
    font-size: 10pt;
    padding: 0% 0% 0% 50%;
}

h8 {
    font-size: 12pt;
}

h9 { 
    width: 80%;
    font-family: h9font;
    font-size: 4em;
    text-align: center;
    margin: 0px 200px 0px 0px;
}

h10 {
    display: block;
    text-align: center;
    padding: 25% 10% 0% 10%;
    font-family: h9font;
    font-size: 4em;
    margin: 0% 0% 0% 0%;
    position: static;    
}

#h11  
#    font-family: h9font;
#    display: block;
#    text-align: center;
#    font-size: 3em;
#   position: static;   


h11 { 
    font-family: h9font;
    font-size: 3em;
    position: static; 
    font-family: tiempofont;
    margin: 0px 400px 0px 0px;
    
}

a h11 {
  text-decoration:none;
    font-family: tiempofont;
    color: black;
    font-weight: 700;
    font-size: 54pt;
    margin: 0px 0px 0px 20px;
}

a h11:hover { 
    text-decoration: underline;
    color: blue;
}

.photos {    
    display: inline;
    padding: 5px;
}


.photos-article { 
    
    width: 90%;
    margin: 0% 10%;
}

.home {
    position: fixed;
    margin: 48pt 0px 0px 48pt;
}


/* contact form */

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: black;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: black;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: black;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: black;
}

input::placeholder, textarea::placeholder {
  color: black;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: black;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: black;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: black;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: white;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: white;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: black;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: black;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: black;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: white;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: white;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: white;
}

body {
  font-family: courier;
  background: white;
margin: 0pt;
}

header {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
    color: black;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: courier;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: black;
  
  border: solid 1px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: gainsboro;
  color: black;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: black;
  font-family: courier;
  font-size: 0.875em;
  
  border: solid 1px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: gainsboro;
  color: black;
}

h14 { 
    font-family: tiempofont; 
    font-weight: 700;
    font-size: 40pt;
    text-align: left;
    margin: 0pt 0pt 60pt 60pt;
}

h10.wtiempo { 
 font-family: tiempofont;
    font-weight: 900;
    font-size: 46pt;
    text-align: left;
    padding: 200pt 0pt 20pt 180pt;
    margin: 0pt 72pt 0pt 0pt;
    
}

.proj_photos { 
    width: 50%;
    margin-left: auto;
    margin-right: auto;   
}

.proj_photos img { 
    margin: 0pt 0pt 40pt 0pt;
}

h16 { 
    font-family: helvetica; 
    font-size: 10pt;
    margin: 0pt 0pt 30pt 210pt;
    padding: 0pt 0pt 20pt 0pt;
}


p { 
font-family: tiempofont;
    font-size: 12pt;
    margin: 30pt 220pt 30pt 210pt;
}

h24 { 
font-family: tiempofont;
    font-size: 10pt;
}

h25 { 
font-family: tiempofont;
    font-size: 11pt;
    font-weight: 700;
    margin: 0pt 12pt 12pt 0pt;
}



.p-3 { 
}

.p-4 {
    padding-top: 150px;
    font-size: 10pt;
    
}

.politicalphotos { 
margin: 0pt 0pt 0pt 72pt;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.politicalphotos img { 
    width: 45%;
    height: 45%;
    margin: 12pt;
}


.leftnav { 
position: fixed;
margin: 120pt 0pt 10pt 48pt;
padding-top: 10pt;
}



h20 { 
font-size: 36pt;
#    line-height: 60pt;
font-family: tiempofont;
    float: none;
    #overflow: scroll;
    margin: 30pt 0pt 0pt 0pt;
    color: black;
    text-decoration: none;
    

}

h20:hover { 
    color: blue;
    text-decoration: underline;
    
}

h21 { 
font-family: helvetica neue;
    font-size: 10pt;
    float: none;
    overflow: scroll;
    padding 10pt 0pt 0pt 0pt;
    text-decoration: none;
    color: black;
}



.main-left { 
    width: 300px;
    padding: 138pt 0pt 0pt 180pt;
    float: left;
    height: 455px;
    over-flow: scroll;

}

.main-right { 
    width: 250px;
    margin: 138pt 0pt 0pt 530pt;
    float: left;
    height: 455px;
    overflow: scroll;
   position: fixed;
    text-align: right; 
}

.main { 
    padding-top:160pt;
    float: left;
    #height: 455px;

}


p.titlesmall { 
font-family: helvetica neue;
float: none;
    text-align: left;
    font-size: 10pt;
    margin: 0px 0px 24pt 0pt;
}

br { 
font-size: 2px;

}

h20 a { 
text-decoration: none;
    font-family: tiempofont;
    color: black;
}

h20 a:hover { 
text-decoration: underline;
color: lightpink;
    font-size: 42pt;
}

.print-photos { 
    width: 600pt;
    margin-left: auto;
    margin-right: auto;  
    padding-top: 138pt;
    display: block;
}


.proj-photos {
    width: 600pt;
    margin-left: auto;
    margin-right: auto;  
    padding-top: 138pt;
    display: block; 
}

.web-photos {
    width: 600pt;
    margin-left: auto;
    margin-right: auto;  
    padding-top: 138pt;
    display: block; 
}

.ux-photos {
    width: 600pt;
    margin-left: auto;
    margin-right: auto;  
    padding-top: 138pt;
    display: block; 
}



.print-photos-2 { 
    width: 600pt;
    margin-left: auto;
    margin-right: auto;  
    padding-top: 138pt;
    position: fixed;
    display: none;
   
}

.print-photos img { 
padding: 0pt 10pt 10pt 0pt;

}

.proj-photos img { 
padding: 0pt 10pt 10pt 0pt;

}

.web-photos img { 
padding: 0pt 10pt 10pt 0pt;

}

.ux-photos img { 
padding: 0pt 10pt 10pt 0pt;

}




.print-caption { 
font-size: 10pt;
padding: 0pt;
    margin: 0pt;
    
}

.nav-2 li a:hover { 
    color: black;
}


.pic-1:hover {
    content: url('print-01-hover.jpg');
}

.pic-2:hover {
    content: url('print-02-hover.jpg');
}

.pic-3:hover {
    content: url('print-03-hover.jpg');
}

.pic-4:hover {
    content: url('print-04-hover.jpg');
}

.pic-5:hover {
    content: url('print-05-hover.jpg');
}

.pic-6:hover {
    content: url('print-06-hover.jpg');
}

.third-nav a:hover { 
    font-size: 12pt;
}


.print-posters {
    margin-left: auto;
    margin-right: auto; 
    width: 640pt;
    padding-top: 138pt;
    display: block;
}

.print-posters img { 
width: 100%;
    height: 100%;
}

.print-posters-col { 
    width: 200pt;
    float: left;
    padding-right: 12pt;
    
}

.print-posters-col img { 
    margin-bottom: 12pt;
}



.pic-7:hover {
    content: url('print-07-hover.jpg');
}

.pic-8:hover {
    content: url('print-08-hover.jpg');
}

.pic-9:hover {
    content: url('print-09-hover.jpg');
}

.pic-10:hover {
    content: url('print-10-hover.jpg');
}

.pic-11:hover {
    content: url('print-11-hover.jpg');
}

.pic-12:hover {
    content: url('print-12-hover.jpg');
}

.pic-13:hover {
    content: url('web-1-hover.jpg');
}

.pic-14:hover {
    content: url('web-2-hover.jpg');
}

.pic-15:hover { 
    content: url('hover-stord.jpg');
}

.pic-16:hover { 
    content: url('hover-imate.jpg');
}



video { 
    margin-left: auto;
    margin-right:auto;
    display: block;
}

.fg-style { 
background-color: white;
 height: 0px;   
}

.parallex-bg { 
background-color: lightpink;
height: 100%;
    margin: 0pt;
    padding: 0pt;
    border: 0pt;
    width: 100%;
}

h26 { 
font-family: tiempofont;
    font-size: 88pt;
    font-weight: 700;
   
}

h27 { 
font-family: tiempofont;
    font-size: 18pt;
    font-weight: 700;
    color: black;
    text-align: center;
}

h28 { 
font-family: h9font;
    font-size: 18pt;
    color: black;
}

a h26 { 
    color:white;
    text-align: center;
}

.main-info a { 
    background-color: white;
    color: black;
    font-family: tiempofont;
}

a h26:hover { 
    font-size: 80pt;
    text-decoration: none;
    color: black;
    
}

.main-info { 
    padding-top: 60pt;
    color:white;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right:auto;
}

.title-center {
    text-align: center;
}

.ux-col {
    width: 145pt;
    float: left;
    padding-right: 12pt;
    
}

.ux-col img { 
    width: 90%;
    height: 90%;
}

h30 { 
    font-size: 8pt;
    font-family: tiempofont;
    font-weight: 700;

    
}


h31 { 
    font-size: 8pt;
    font-family: tiempofont;
    line-height: 6pt;
    
}


.ux-txt { 
margin-left: 10pt;
}

h32 { 
    font-family: tiempofont;
    font-size: 12pt;
    font-weight: 500;
    margin: 10pt 220pt 0pt 210pt;
    
}

a h24 { 
    color: black;
    text-decoration: none;
}
