html {
    -webkit-font-smoothing: antialiased;
}

.logo {
    display: block;
    text-align: center;
    padding: 20% 10% 0% 10%;
    position: static;
}

h1 {
    font-size: 20pt;
    color: lightpink;
    text-align: center;
    margin: 0;
    padding: 0% 0% 20% 0%;
}


/*nav*/

.rotate{
    -webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-o-transform:rotate(270deg);writing-mode:lr-tb}
html, body {
  min-height:100%;
  max-height:100%;
  height:100%;
  font-family:monospace;
  font-size: 18px;
  background:#fff
}
a {
  text-decoration:none;
    font-family: monospace;
}
li {
  list-style:none
}
ul {
  padding:0;
  margin:0
}
.main-nav {
  width:45px;
  height:100%;
margin-left: 95%;
    position:fixed;

}
ul.nav {
  width:21px;
}
ul.nav li:first-child {
  padding-top:100px
}
ul.nav li {
  padding-top: 150px;
}
ul.nav li a {
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -o-transform:rotate(270deg);
  writing-mode:lr-tb;
  float:right;
  width:21px;
  color:lightpink;
}

.text { 
    width: 90%;
    font-family: monospace;
    font-size: 10pt;
    text-align: center;
    display: inline-block;
    margin: 1.5% 2.5%;
}


.project-image {
    margin: 0.5em;
    float: left;
}

.container {
    width: 100%;
    margin: 1%;
    display: block;
    align-content: center;
}






.textcontainer {
    align-content: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: left;
}

.container1 {
    width: 27%;
    float: left;
    margin: 0em 1.5em;
}




.a-aboutme {
    color: lightpink;
    padding: 0em;
    margin: 0em;
    font-size: 10pt;
    text-align: left;

}


.textcontainer {
    font-size: 10pt;
    padding: 0% 0% 0% 50%;
}

h8 {
    font-size: 12pt;
}

h9 { 
    width: 80%;
    font-family: h9font;
    font-size: 4em;
    text-align: center;
    margin: 0px 200px 0px 0px;
}

h10 {
    display: block;
    text-align: center;
    padding: 25% 10% 0% 10%;
    font-family: h9font;
    font-size: 4em;
    margin: 0% 0% 25% 0%;
    position: static;    
}

h11 { 
    font-family: h9font;
    display: block;
    text-align: center;
    font-size: 3em;
    position: static;   
}

a h11 {
  text-decoration:none;
    
}

.photos {    
    display: inline;
    float: left;
    padding: 5px;
}


.photos-article { 
    
    width: 90%;
    margin: 0% 10%;
}

.home {
    position: fixed;
}


/* contact form */

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: black;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: black;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: black;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: black;
}

input::placeholder, textarea::placeholder {
  color: black;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: black;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: black;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: black;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: white;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: white;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: black;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: black;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: black;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: white;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: white;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: white;
}

body {
  font-family: courier;
  background: white;
  color: #b3aca7;
}

header {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
    color: black;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: courier;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: black;
  
  border: solid 1px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: gainsboro;
  color: black;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: black;
  font-family: courier;
  font-size: 0.875em;
  
  border: solid 1px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: gainsboro;
  color: black;
}

#submit {
  width: 502px;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: courier;
  font-size: 0.875em;
  color: #b3aca7;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: white;
}


.contactp { 
font-size: 11pt;
margin: 40px 120px;

}



